.formRow {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 100%;
  margin: 2vh 0;
}

.submissionButton {
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-input-group-addon {
  background-color: #c5d5cb !important;
}

.profileForm {
  margin: auto;
}