.profileCard {
  display: flex;
  flex-direction: row;
  background-color: aqua;
  border: 5px;
  border-style: solid;
  margin: 5px;
  width: 20rem;
}

.profiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profileInfo {
  margin: 0 0 10px 0
}

.profilePic {
  display: flex;
  margin-left: 25%;
}